@mixin absCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

@mixin btn_active{
    border: none;
    outline: none;
    display: flex;
    cursor: pointer;
    font-size: 1.4rem;
    line-height: 1.4rem;
    align-items: center;
    border-radius: 100px;
    text-decoration: none;
    justify-content: center;
    text-transform: uppercase;
    color: $white-text;
    background-color: $background-active;
    -webkit-tap-highlight-color: transparent;
}

@mixin btn_circle_bgWhite {
    padding: 0;
    width: 40px;
    border: none;
    height: 40px;
    margin: auto;
    outline: none;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
    background: $background-active;
}

@mixin btn_default{
    padding:3px 6px;
    border-radius: 20px;
    width:60%;
    color: $white-text;
    font-size: 1.3rem;
    background-color: transparent;
    border: 1px solid transparent;
}

@mixin form_default{
    @include absCenter;
    background-color:red;
    border-radius: 10px;
    width: 40vw;
    height: 90vh;
}

@mixin input_default{
    padding:10px;
    width: 100%;
    border-radius:5px;
    border:1px solid transparent;
    font-size: 1.6rem;
}