<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
			integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
		/>
		<link rel="stylesheet" type="text/css" href="../../public/css/main.css" />
		<title>Zing mp3 Clone</title>
	</head>
	<body>
		<div class="app position-relative">
			<div class="app__authetication d-none">
				<div class="app__auth register__form d-none">
					<div id="close__btn-auth" class="wrapper__closebtn position-absolute">
						<a href="#" class="close-button">
							<div class="in">
								<div class="close-button-block"></div>
								<div class="close-button-block"></div>
							</div>
							<div class="out">
								<div class="close-button-block"></div>
								<div class="close-button-block"></div>
							</div>
						</a>
					</div>

					<div
						class="app__auth-logo d-flex justify-content-center align-items-center mt-5"
					>
						<img
							class="app__auth-logo-small me-2"
							src="../../public/img/logos/small-logo.svg"
							alt=""
							height="80"
							width="80"
						/>
						<img
							class="app__auth-logo-main ms-2"
							src="../../public/img/logos/main-logo.svg"
							alt=""
							height="80"
							width="150"
						/>
					</div>

					<div class="app__auth-title text-center mt-4">
						<span>Đăng kí</span>
					</div>

					<form class="app__auth-form p-5 d-flex flex-column">
						<div class="app__auth-phone mb-4">
							<label for="accountInput" class="app__auth-phone-label mb-1"
								>Số điện thoại</label
							>
							<input
								class="app__auth-input"
								id="accountInput"
								type="number"
								name="phone"
								value=""
								onkeydown="return event.keyCode == 69 ? false : true"
							/>
						</div>

						<div class="app__auth-password mb-4">
							<label for="passwordInput" class="app__auth-password-label mb-1"
								>Mật khẩu</label
							>
							<input
								class="app__auth-input"
								id="passwordInput"
								type="password"
								name="password"
								value=""
							/>
						</div>

						<div class="app__auth-password mb-5">
							<label
								for="passwordInputAgain"
								class="app__auth-password-label mb-1"
								>Nhập lại mật khẩu</label
							>
							<input
								class="app__auth-input"
								id="passwordInputAgain"
								type="password"
								name="password"
								value=""
							/>
						</div>

						<button class="app__auth-btn align-self-center" type="">
							Đăng kí
						</button>

						<div class="app__auth-direction d-flex align-self-center mt-5">
							<span class="app__auth-direction-title me-3">
								Bạn đã có tài khoản ?
							</span>
							<a class="btn__witch-Login" href="">Đăng nhập tại đây !</a>
						</div>
					</form>
				</div>

				<div class="app__auth login__form">
					<div id="close__btn-auth" class="wrapper__closebtn position-absolute">
						<a href="#" class="close-button">
							<div class="in">
								<div class="close-button-block"></div>
								<div class="close-button-block"></div>
							</div>
							<div class="out">
								<div class="close-button-block"></div>
								<div class="close-button-block"></div>
							</div>
						</a>
					</div>

					<div
						class="app__auth-logo d-flex justify-content-center align-items-center mt-5"
					>
						<img
							class="app__auth-logo-small me-2"
							src="../../public/img/logos/small-logo.svg"
							alt=""
							height="80"
							width="80"
						/>
						<img
							class="app__auth-logo-main ms-2"
							src="../../public/img/logos/main-logo.svg"
							alt=""
							height="80"
							width="150"
						/>
					</div>

					<div class="app__auth-title text-center mt-4">
						<span>Đăng nhập</span>
					</div>

					<form class="app__auth-form mt-2 p-5 d-flex flex-column">
						<div class="app__auth-phone mb-5">
							<label for="accountInput" class="app__auth-phone-label mb-2"
								>Số điện thoại</label
							>
							<input
								class="app__auth-input"
								id="accountInput"
								type="number"
								name="phone"
								value=""
								onkeydown="return event.keyCode == 69 ? false : true"
							/>
						</div>

						<div class="app__auth-password mb-3">
							<label for="passwordInput" class="app__auth-password-label mb-2"
								>Mật khẩu</label
							>
							<input
								class="app__auth-input"
								id="passwordInput"
								type="password"
								name="password"
								value=""
							/>
						</div>

						<div class="app__auth-remember d-flex justify-center-center mb-5">
							<input
								class="app__auth-remember-input"
								id="rememberPassword"
								type="checkbox"
								name=""
							/>
							<label class="app__auth-remember-label" for="rememberPassword"
								>Nhớ mật khẩu</label
							>
						</div>

						<button class="app__auth-btn align-self-center" type="">
							Đăng nhập
						</button>

						<div class="app__auth-direction d-flex align-self-center mt-5">
							<span class="app__auth-direction-title me-3">
								Bạn có tài khoản chưa ?
							</span>
							<a class="btn__witch-Register" href="">Đăng kí tại đây !</a>
						</div>
					</form>
				</div>
			</div>

			<div class="row g-0">
				<div class="sidebar col-2">
					<div class="sidebar__logo mt-3 mb-2 align-items-center">
						<a class="sidebar__logo-link" href="#">
							<img
								class="sidebar__logo-img"
								src="../../public/img/logos/main-logo.svg"
								alt="logo"
							/>
						</a>
					</div>

					<div class="sidebar__nav">
						<ul class="sidebar__nav-list">
							<li class="sidebar__nav-item active">
								<a href="#" class="sidebar__nav-link">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="16"
										height="16"
										fill="currentColor"
										class="bi bi-music-player-fill"
										viewBox="0 0 16 16"
									>
										<path d="M8 12a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
										<path
											d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm1 2h6a1 1 0 0 1 1 1v2.5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1zm3 12a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"
										/>
									</svg>
									<span>Trang chủ</span>
								</a>
							</li>

							<li class="sidebar__nav-item">
								<a href="#" class="sidebar__nav-link">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="16"
										height="16"
										fill="currentColor"
										class="bi bi-music-note-list"
										viewBox="0 0 16 16"
									>
										<path
											d="M12 13c0 1.105-1.12 2-2.5 2S7 14.105 7 13s1.12-2 2.5-2 2.5.895 2.5 2z"
										/>
										<path fill-rule="evenodd" d="M12 3v10h-1V3h1z" />
										<path
											d="M11 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 16 2.22V4l-5 1V2.82z"
										/>
										<path
											fill-rule="evenodd"
											d="M0 11.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 7H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 3H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"
										/>
									</svg>
									<span>Khám phá</span>
								</a>
							</li>

							<li class="sidebar__nav-item">
								<a href="#" class="sidebar__nav-link">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="16"
										height="16"
										fill="currentColor"
										class="bi bi-vinyl-fill"
										viewBox="0 0 16 16"
									>
										<path
											d="M8 6a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0 3a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
										/>
										<path
											d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4 8a4 4 0 1 0 8 0 4 4 0 0 0-8 0z"
										/>
									</svg>
									<span>#zingchart</span>
								</a>
							</li>

							<li class="sidebar__nav-item">
								<a href="#" class="sidebar__nav-link">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="16"
										height="16"
										fill="currentColor"
										class="bi bi-soundwave"
										viewBox="0 0 16 16"
									>
										<path
											fill-rule="evenodd"
											d="M8.5 2a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-1 0v-11a.5.5 0 0 1 .5-.5zm-2 2a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zm-6 1.5A.5.5 0 0 1 5 6v4a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm8 0a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm-10 1A.5.5 0 0 1 3 7v2a.5.5 0 0 1-1 0V7a.5.5 0 0 1 .5-.5zm12 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0V7a.5.5 0 0 1 .5-.5z"
										/>
									</svg>
									<span>Radio</span>
								</a>
							</li>

							<li class="sidebar__nav-item">
								<a href="#" class="sidebar__nav-link">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="16"
										height="16"
										fill="currentColor"
										class="bi bi-file-earmark-play"
										viewBox="0 0 16 16"
									>
										<path
											d="M6 6.883v4.234a.5.5 0 0 0 .757.429l3.528-2.117a.5.5 0 0 0 0-.858L6.757 6.454a.5.5 0 0 0-.757.43z"
										/>
										<path
											d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"
										/>
									</svg>
									<span>Theo dõi</span>
								</a>
							</li>
						</ul>
					</div>

					<div class="sidebar__subnav">
						<ul class="sidebar__nav-list">
							<li class="sidebar__nav-item subnab--item">
								<a href="#" class="sidebar__nav-link">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="16"
										height="16"
										fill="currentColor"
										class="bi bi-music-note-beamed"
										viewBox="0 0 16 16"
									>
										<path
											d="M6 13c0 1.105-1.12 2-2.5 2S1 14.105 1 13c0-1.104 1.12-2 2.5-2s2.5.896 2.5 2zm9-2c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z"
										/>
										<path
											fill-rule="evenodd"
											d="M14 11V2h1v9h-1zM6 3v10H5V3h1z"
										/>
										<path
											d="M5 2.905a1 1 0 0 1 .9-.995l8-.8a1 1 0 0 1 1.1.995V3L5 4V2.905z"
										/>
									</svg>
									<span>Nhạc Mới</span>
								</a>
							</li>
							<li class="sidebar__nav-item subnab--item">
								<a href="#" class="sidebar__nav-link">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="16"
										height="16"
										fill="currentColor"
										class="bi bi-slack"
										viewBox="0 0 16 16"
									>
										<path
											d="M3.362 10.11c0 .926-.756 1.681-1.681 1.681S0 11.036 0 10.111C0 9.186.756 8.43 1.68 8.43h1.682v1.68zm.846 0c0-.924.756-1.68 1.681-1.68s1.681.756 1.681 1.68v4.21c0 .924-.756 1.68-1.68 1.68a1.685 1.685 0 0 1-1.682-1.68v-4.21zM5.89 3.362c-.926 0-1.682-.756-1.682-1.681S4.964 0 5.89 0s1.68.756 1.68 1.68v1.682H5.89zm0 .846c.924 0 1.68.756 1.68 1.681S6.814 7.57 5.89 7.57H1.68C.757 7.57 0 6.814 0 5.89c0-.926.756-1.682 1.68-1.682h4.21zm6.749 1.682c0-.926.755-1.682 1.68-1.682.925 0 1.681.756 1.681 1.681s-.756 1.681-1.68 1.681h-1.681V5.89zm-.848 0c0 .924-.755 1.68-1.68 1.68A1.685 1.685 0 0 1 8.43 5.89V1.68C8.43.757 9.186 0 10.11 0c.926 0 1.681.756 1.681 1.68v4.21zm-1.681 6.748c.926 0 1.682.756 1.682 1.681S11.036 16 10.11 16s-1.681-.756-1.681-1.68v-1.682h1.68zm0-.847c-.924 0-1.68-.755-1.68-1.68 0-.925.756-1.681 1.68-1.681h4.21c.924 0 1.68.756 1.68 1.68 0 .926-.756 1.681-1.68 1.681h-4.21z"
										/>
									</svg>
									<span>Thể Loại</span>
								</a>
							</li>
							<li class="sidebar__nav-item subnab--item">
								<a href="#" class="sidebar__nav-link">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="16"
										height="16"
										fill="currentColor"
										class="bi bi-star-fill"
										viewBox="0 0 16 16"
									>
										<path
											d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
										/>
									</svg>
									<span>Top 100</span>
								</a>
							</li>
							<li class="sidebar__nav-item subnab--item">
								<a href="#" class="sidebar__nav-link">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="16"
										height="16"
										fill="currentColor"
										class="bi bi-camera-video-fill"
										viewBox="0 0 16 16"
									>
										<path
											fill-rule="evenodd"
											d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z"
										/>
									</svg>
									<span>MV</span>
								</a>
							</li>
						</ul>

						<div class="sidebar__login">
							<p class="sidebar__login-description">
								Nghe nhạc không quảng cáo cùng kho nhạc VIP
							</p>
							<a href="#" class="sidebar__login-btn button">Mua vip</a>
						</div>

						<ul class="sidebar__subnav-menu">
							<li class="sidebar__subnav-menu-item menu-header">
								<h2 class="sidebar__subnav-menu-title">THƯ VIỆN</h2>
							</li>
							<li class="sidebar__subnav-menu-item">
								<a href="#" class="sidebar__subnav-menu-link">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
									>
										<defs>
											<linearGradient
												id="0783s0j89a"
												x1="0%"
												x2="0%"
												y1="0%"
												y2="100%"
											>
												<stop offset="0%" stop-color="#3CA2FF" />
												<stop offset="100%" stop-color="#008FFF" />
											</linearGradient>
											<linearGradient
												id="prx3tly02b"
												x1="21.839%"
												x2="21.839%"
												y1="43.679%"
												y2="100%"
											>
												<stop offset="0%" stop-color="#FFF" />
												<stop
													offset="100%"
													stop-color="#FFF"
													stop-opacity=".9"
												/>
											</linearGradient>
										</defs>
										<g fill="none" fill-rule="evenodd">
											<g>
												<g>
													<path
														fill="url(#0783s0j89a)"
														d="M.516 7.143c.812-3.928 3.31-6.115 7.207-6.776 2.88-.489 5.762-.495 8.637.014 4.012.709 6.424 3.024 7.192 7.011.594 3.082.603 6.196-.009 9.274-.821 3.9-3.384 6.309-7.266 6.967-2.88.489-5.762.495-8.637-.014-4.012-.709-6.435-3.14-7.203-7.127-.624-3.102-.564-6.235.08-9.349z"
														transform="translate(-21 -433) translate(21 433)"
													/>
													<path
														fill="url(#prx3tly02b)"
														d="M3.995 9.479c-.245.48-.245 1.11-.245 2.371v3.3c0 1.26 0 1.89.245 2.371.216.424.56.768.984.984.48.245 1.11.245 2.371.245h9.3c1.26 0 1.89 0 2.372-.245.423-.216.767-.56.983-.983.245-.482.245-1.112.245-2.372v-3.3c0-1.26 0-1.89-.245-2.371-.216-.424-.56-.768-.983-.984-.482-.245-1.112-.245-2.372-.245h-9.3c-1.26 0-1.89 0-2.371.245-.424.216-.768.56-.984.984zm8.567.571l.06.004.068.015.057.02.017.008c.556.27 1.067.623 1.516 1.046.075.07.148.142.22.217.172.18.166.464-.014.636-.18.172-.464.167-.636-.013-.061-.063-.123-.125-.187-.185-.202-.19-.42-.365-.65-.521v3.442c0 1.025-.832 1.856-1.857 1.856S9.3 15.744 9.3 14.719c0-1.025.831-1.856 1.856-1.856.35 0 .677.096.957.264V10.5c0-.249.201-.45.45-.45z"
														transform="translate(-21 -433) translate(21 433)"
													/>
													<path
														fill="#FFF"
														fill-opacity=".6"
														fill-rule="nonzero"
														d="M7.5 5.25c0-.414.336-.75.75-.75h7.5c.414 0 .75.336.75.75h-9z"
														transform="translate(-21 -433) translate(21 433)"
													/>
													<path
														fill="#FFF"
														fill-opacity=".9"
														fill-rule="nonzero"
														d="M6 6.75c0-.414.336-.75.75-.75h10.5c.414 0 .75.336.75.75H6z"
														transform="translate(-21 -433) translate(21 433)"
													/>
												</g>
											</g>
										</g>
									</svg>
									<span>Bài hát</span>
								</a>
							</li>
							<li class="sidebar__subnav-menu-item">
								<a href="#" class="sidebar__subnav-menu-link">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
									>
										<defs>
											<linearGradient
												id="ghd4ngt38a"
												x1="50%"
												x2="50%"
												y1="0%"
												y2="100%"
											>
												<stop offset="0%" stop-color="#9FD465" />
												<stop offset="100%" stop-color="#70B129" />
											</linearGradient>
										</defs>
										<g fill="none" fill-rule="evenodd">
											<g>
												<g>
													<path
														fill="url(#ghd4ngt38a)"
														d="M.516 7.143c.812-3.928 3.31-6.115 7.207-6.776 2.88-.489 5.762-.495 8.637.014 4.012.709 6.424 3.024 7.192 7.011.594 3.082.603 6.196-.009 9.274-.821 3.9-3.384 6.309-7.266 6.967-2.88.489-5.762.495-8.637-.014-4.012-.709-6.435-3.14-7.203-7.127-.624-3.102-.564-6.235.08-9.349z"
														transform="translate(-21 -467) translate(21 467)"
													/>
													<path
														stroke="#FFF"
														stroke-linecap="round"
														stroke-linejoin="round"
														stroke-width="1.5"
														d="M13.5 11.5h5m-5 3h5M6 17.5h12.5"
														transform="translate(-21 -467) translate(21 467)"
													/>
													<path
														fill="#FFF"
														d="M10.786 4.025c-.053-.016-.11-.025-.167-.025-.316 0-.572.262-.572.585v4.782c-.532-.44-1.21-.704-1.948-.704C6.387 8.663 5 10.082 5 11.831 5 13.581 6.387 15 8.099 15c1.711 0 3.099-1.419 3.099-3.169 0-.074-.003-.147-.007-.22l.001-6.04c.534.336 1.033.728 1.49 1.169.114.109.225.22.334.337.218.233.58.24.808.017.228-.223.235-.593.017-.826-.123-.131-.247-.257-.375-.38-.766-.738-1.64-1.355-2.589-1.826l-.091-.037z"
														transform="translate(-21 -467) translate(21 467)"
													/>
												</g>
											</g>
										</g>
									</svg>

									<span>Playlist</span>
								</a>
							</li>
							<li class="sidebar__subnav-menu-item">
								<a href="#" class="sidebar__subnav-menu-link">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
									>
										<defs>
											<linearGradient
												id="v6mduhifwa"
												x1="50%"
												x2="50%"
												y1="0%"
												y2="100%"
											>
												<stop offset="0%" stop-color="#FFD677" />
												<stop offset="100%" stop-color="#F7AA45" />
											</linearGradient>
											<linearGradient
												id="dkfkk30hhb"
												x1="21.205%"
												x2="21.205%"
												y1="43.042%"
												y2="100.632%"
											>
												<stop offset="0%" stop-color="#FFF" />
												<stop
													offset="100%"
													stop-color="#FFF"
													stop-opacity=".9"
												/>
											</linearGradient>
										</defs>
										<g fill="none" fill-rule="evenodd">
											<g>
												<g>
													<path
														fill="url(#v6mduhifwa)"
														d="M.516 7.143c.812-3.928 3.31-6.115 7.207-6.776 2.88-.489 5.762-.495 8.637.014 4.012.709 6.424 3.024 7.192 7.011.594 3.082.603 6.196-.009 9.274-.821 3.9-3.384 6.309-7.266 6.967-2.88.489-5.762.495-8.637-.014-4.012-.709-6.435-3.14-7.203-7.127-.624-3.102-.564-6.235.08-9.349z"
														transform="translate(-21 -569) translate(21 569)"
													/>
													<path
														fill="url(#dkfkk30hhb)"
														d="M12 3.75c-4.556 0-8.25 3.694-8.25 8.25s3.694 8.25 8.25 8.25 8.25-3.694 8.25-8.25S16.556 3.75 12 3.75zm3.805 12.388c-.13.13-.301.195-.472.195-.17 0-.341-.065-.47-.195l-3.334-3.333c-.126-.125-.196-.294-.196-.472V8c0-.369.299-.667.667-.667.368 0 .667.298.667.667v4.057l3.138 3.138c.26.261.26.682 0 .943z"
														transform="translate(-21 -569) translate(21 569)"
													/>
												</g>
											</g>
										</g>
									</svg>

									<span>Gần đây</span>
								</a>
							</li>
						</ul>

						<ul class="sidebar__nav-list">
							<li class="sidebar__nav-item">
								<a href="#" class="sidebar__nav-link">
									<span class="sidebar__nav-link-topic">Tháng 1</span>
								</a>
							</li>
							<li class="sidebar__nav-item">
								<a href="#" class="sidebar__nav-link">
									<span class="sidebar__nav-link-topic">Nhạc Quốc Tế</span>
								</a>
							</li>
							<li class="sidebar__nav-item">
								<a href="#" class="sidebar__nav-link">
									<span class="sidebar__nav-link-topic">Sky Ơi</span>
								</a>
							</li>
						</ul>
					</div>

					<div class="sidebar__create">
						<div class="sidebar__create-container d-flex align-items-center">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="25"
								height="25"
								fill="currentColor"
								class="bi bi-plus sidebar__create-icon"
								viewBox="0 0 16 16"
							>
								<path
									d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
								/>
							</svg>
							<h2 class="sidebar__create-title">Tạo playlist mới</h2>
						</div>
					</div>
				</div>

				<div class="content col-10 pe-5 ps-5 pt-4 pb-5">
					<div class="header d-flex justify-content-between">
						<div class="header__with-search d-flex align-items-center">
							<button class="header__button me-4">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="25"
									height="25"
									fill="currentColor"
									class="bi bi-arrow-left"
									viewBox="0 0 16 16"
								>
									<path
										fill-rule="evenodd"
										d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
									/>
								</svg>
							</button>

							<button class="header__button button--disabled">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="25"
									height="25"
									fill="currentColor"
									class="bi bi-arrow-right"
									viewBox="0 0 16 16"
								>
									<path
										fill-rule="evenodd"
										d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
									/>
								</svg>
							</button>

							<div
								class="header__search d-flex align-items-center ms-5 position-relative"
							>
								<input
									type="text"
									placeholder="Nhập tên bài hát, nghệ sĩ hoặc MV..."
									class="header__search-input"
								/>
								<div class="header__search-btn position-absolute">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="16"
										height="16"
										fill="currentColor"
										class="bi bi-search"
										viewBox="0 0 16 16"
									>
										<path
											d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
										/>
									</svg>
								</div>
							</div>
						</div>

						<div class="header__nav">
							<ul class="header__nav-list d-flex align-items-center">
								<li id="header-setting" class="header__nav-item">
									<div class="header__nav-btn">
										<svg
											xmlns="http://www.w3.org/2000/svg"
											width="25"
											height="25"
											fill="currentColor"
											class="bi bi-gear-fill header__nav-btn-icon"
											viewBox="0 0 16 16"
										>
											<path
												d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"
											/>
										</svg>
									</div>
								</li>

								<li id="header-avatar" class="header__nav-item ms-4">
									<div class="header__nav-btn btn-setting">
										<svg
											xmlns="http://www.w3.org/2000/svg"
											width="25"
											height="25"
											fill="currentColor"
											class="bi bi-person-circle header__nav-btn-icon"
											viewBox="0 0 16 16"
										>
											<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
											<path
												fill-rule="evenodd"
												d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
											/>
										</svg>
									</div>
								</li>
							</ul>
						</div>
					</div>

					<div class="app__container">
						<div class="app__container-home">
							<div class="info mt-5">
								<div
									class="info__user d-flex align-items-center flex-column justify-content-center"
								>
									<img
										width="100px"
										height="100px"
										style="border-radius: 50%"
										class="info__user-img"
										src="https://scontent.fhan14-3.fna.fbcdn.net/v/t1.6435-1/162016892_2928168047418016_3991487842586818695_n.jpg?stp=c0.0.320.320a_dst-jpg_p320x320&_nc_cat=103&ccb=1-7&_nc_sid=7206a8&_nc_ohc=4K4Asb2gSa8AX89Yf6a&_nc_ht=scontent.fhan14-3.fna&oh=00_AfDYbhr_larYIdG7IcuKCD298ju7RqV0qXSd4-Cam9Wpgg&oe=63A63903"
										alt=""
									/>
									<span class="info__user-name">Trần Minh Đức</span>
								</div>
							</div>

							<div
								class="content__navbar d-flex flex-column"
								style="margin-top: 50px"
							>
								<div class="content__navbar">
									<ul class="content__navbar-menu d-flex">
										<li class="content__navbar-item me-3 active">
											<span>Trang chủ</span>
										</li>
										<li class="content__navbar-item ms-3 me-3">
											<span>Bài hát</span>
										</li>
										<li class="content__navbar-item ms-3 me-3">
											<span>Playlist</span>
										</li>
										<li class="content__navbar-item ms-3 me-3">
											<span>Album</span>
										</li>
										<li class="content__navbar-item ms-3 me-3">
											<span>MV</span>
										</li>
										<li class="content__navbar-item ms-3 me-3">
											<span>Nghệ sĩ</span>
										</li>
										<li class="content__navbar-item ms-3">
											<span>Tải lên</span>
										</li>
									</ul>
								</div>
							</div>

							<div class="content__container" style="margin-top: 70px">
								<!-- Home page -->
								<div class="content__home">
									<!-- Song list in home -->
									<div class="content__home-music">
										<div
											class="content__home-music-title d-flex mb-5 align-items-center"
										>
											<h1 class="me-2">Bài hát</h1>
											<svg
												xmlns="http://www.w3.org/2000/svg"
												width="20"
												height="20"
												fill="currentColor"
												class="bi bi-chevron-right"
												viewBox="0 0 16 16"
											>
												<path
													fill-rule="evenodd"
													d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
												/>
											</svg>
										</div>
										<!-- Slider -->
										<div class="row content__home-music-play">
											<div class="content__home-music-slide col-3">
												<div class="content__home-music-slide-show">
													<div class="content__home-music-slide-item first">
														<div
															style="
																background: url('../../public/img/slides/slide1.jpg')
																	no-repeat center center / cover;
															"
															class="content__home-music-slide-img"
														></div>
													</div>
													<div class="content__home-music-slide-item second">
														<div
															style="
																background: url('../../public/img/slides/slide2.jpg')
																	no-repeat center center / cover;
															"
															class="content__home-music-slide-img"
														></div>
													</div>
													<div class="content__home-music-slide-item third">
														<div
															style="
																background: url('../../public/img/slides/slide3.jpg')
																	no-repeat center center / cover;
															"
															class="content__home-music-slide-img"
														></div>
													</div>
													<div class="content__home-music-slide-item fourth">
														<div
															style="
																background: url('../../public/img/slides/slide4.jpg')
																	no-repeat center center / cover;
															"
															class="content__home-music-slide-img"
														></div>
													</div>
												</div>
											</div>

											<!-- music list -->
											<div class="content__playlist col-9">
												<ul class="content__home-music-list">
													<li
														class="content__home-music-item d-flex justify-content-between"
													>
														<div class="content__home-music-item-info d-flex">
															<div
																class="musiclist__info-img position-relative"
																style="
																	background: url('../../public/img/music/listSong1/song1.jpg')
																		no-repeat center center / cover;
																	width: 50px;
																	height: 50px;
																"
															>
																<div class="thumb--animate">
																	<div
																		class="layout-fade position-absolute"
																		style="
																			background: rgba(0, 0, 0, 0.5);
																			width: 100%;
																			height: 100%;
																		"
																	></div>
																	<div
																		class="thumb--animate-img position-absolute"
																		style="
																			background: url('../../public/img/SongActiveAnimation/icon-playing.gif')
																				no-repeat 50% / contain;
																			width: 40%;
																			height: 40%;
																			z-index: 10;
																		"
																	></div>

																	<div
																		class="play-song--actions"
																		style="
																			width: 100%;
																			height: 100%;
																			z-index: 100;
																		"
																	>
																		<svg
																			xmlns="http://www.w3.org/2000/svg"
																			width="23"
																			height="23"
																			fill="currentColor"
																			class="bi bi-play-fill"
																			viewBox="0 0 16 16"
																		>
																			<path
																				d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"
																			/>
																		</svg>
																	</div>
																</div>
															</div>

															<div
																class="musiclist__info-body d-flex flex-column"
															>
																<span class="musiclist__info-body-title"
																	>Cứ chill thôi ku</span
																>
																<span class="musiclist__info-body-author">
																	<a href="#">Chillies,</a
																	><a href="#">Suni Hạ Linh,</a
																	><a href="#">Rhymastic,</a>
																</span>
															</div>
														</div>

														<span class="content__home-music-item-time">
															04:30
														</span>

														<div
															class="content__home-music-item-option d-flex align-items-center me-4"
														>
															<div
																class="musiclist__option-icon musiclist__option-heart me-2"
															>
																<svg
																	class="musiclist__option-heart-icon"
																	xmlns="http://www.w3.org/2000/svg"
																	width="16"
																	height="16"
																	fill="currentColor"
																	class="bi bi-heart-fill"
																	viewBox="0 0 16 16"
																>
																	<path
																		fill-rule="evenodd"
																		d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
																	/>
																</svg>
															</div>

															<div
																class="musiclist__option-icon musiclist__option-three-dot ms-2"
															>
																<svg
																	class="musiclist__option-three-dot-icon"
																	xmlns="http://www.w3.org/2000/svg"
																	width="20"
																	height="20"
																	fill="currentColor"
																	class="bi bi-three-dots"
																	viewBox="0 0 16 16"
																>
																	<path
																		d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
																	/>
																</svg>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>

									<!-- Play list  -->
									<div class="content__home-playlist mt-5 mb-5">
										<div class="home__playlist">
											<div
												class="home__playlist-header d-flex justify-content-between"
											>
												<div
													href="#"
													class="home__slider-title d-flex align-items-center"
												>
													<h1 class="me-2">Playlist</h1>
													<svg
														xmlns="http://www.w3.org/2000/svg"
														width="20"
														height="20"
														fill="currentColor"
														class="bi bi-chevron-right"
														viewBox="0 0 16 16"
													>
														<path
															fill-rule="evenodd"
															d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
														/>
													</svg>
												</div>
												<div
													class="container__header-actions d-flex align-items-center"
												>
													<div
														class="container__move-btn btn__back-slide-playList me-2"
													>
														<svg
															xmlns="http://www.w3.org/2000/svg"
															width="20"
															height="20"
															fill="currentColor"
															class="bi bi-chevron-left"
															viewBox="0 0 16 16"
														>
															<path
																fill-rule="evenodd"
																d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
															/>
														</svg>
													</div>
													<div
														class="container__move-btn btn__next-slide-playList ms-2"
													>
														<svg
															xmlns="http://www.w3.org/2000/svg"
															width="20"
															height="20"
															fill="currentColor"
															class="bi bi-chevron-right"
															viewBox="0 0 16 16"
														>
															<path
																fill-rule="evenodd"
																d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
															/>
														</svg>
													</div>
												</div>
											</div>

											<div class="home__playlist-container mt-5">
												<div class="swiper playListSwiper">
													<div class="swiper-wrapper">
														<div class="swiper-slide">
															<div
																class="home__playlist-create d-flex flex-column align-items-center justify-content-center"
															>
																<svg
																	xmlns="http://www.w3.org/2000/svg"
																	width="50"
																	height="50"
																	fill="currentColor"
																	class="bi bi-plus-circle-fill"
																	viewBox="0 0 16 16"
																>
																	<path
																		d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"
																	/>
																</svg>
																<h2 class="mt-5">Thêm nhạc mới</h2>
															</div>
														</div>

														<div class="swiper-slide flex-column">
															<div class="home__slider-item">
																<div class="home__slider-img">
																	<div
																		class="home__slider-img-overlay position-absolute justify-content-center align-items-center"
																		style="z-index: 100"
																	>
																		<div
																			class="home__slider-img-btn-icon sub__icon me-3"
																		>
																			<svg
																				class="slider__option-heart-icon"
																				xmlns="http://www.w3.org/2000/svg"
																				width="20"
																				height="20"
																				fill="currentColor"
																				class="bi bi-heart-fill"
																				viewBox="0 0 16 16"
																			>
																				<path
																					fill-rule="evenodd"
																					d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
																				/>
																			</svg>
																		</div>
																		<div
																			class="home__slider-img-btn-icon ms-4 me-4"
																		>
																			<svg
																				xmlns="http://www.w3.org/2000/svg"
																				width="50"
																				height="50"
																				fill="currentColor"
																				class="bi bi-play-circle"
																				viewBox="0 0 16 16"
																			>
																				<path
																					d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
																				/>
																				<path
																					d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"
																				/>
																			</svg>
																		</div>
																		<div
																			class="home__slider-img-btn-icon sub__icon ms-3"
																		>
																			<svg
																				class="slider__option-three-dot-icon"
																				xmlns="http://www.w3.org/2000/svg"
																				width="20"
																				height="20"
																				fill="currentColor"
																				class="bi bi-three-dots"
																				viewBox="0 0 16 16"
																			>
																				<path
																					d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
																				/>
																			</svg>
																		</div>
																	</div>
																	<div
																		class="slider__img"
																		style="
																			background: url('../../public/img/playlists/playlist1.jpg')
																				no-repeat center center / cover;
																		"
																	></div>
																</div>
																<div class="home__slider-info mt-4">
																	<h3 class="home__slider-name mb-2">
																		V-Pop: The A-List
																	</h3>
																	<span class="home__slider-subname"
																		>Zing mp3</span
																	>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<!-- Album list -->
									<div class="content__home-albumlist mt-5 mb-5">
										<div class="home__albumlist">
											<div
												class="home__albumlist-header d-flex justify-content-between"
											>
												<div
													href="#"
													class="home__slider-title d-flex align-items-center"
												>
													<h1 class="me-2">Album</h1>
													<svg
														xmlns="http://www.w3.org/2000/svg"
														width="20"
														height="20"
														fill="currentColor"
														class="bi bi-chevron-right"
														viewBox="0 0 16 16"
													>
														<path
															fill-rule="evenodd"
															d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
														/>
													</svg>
												</div>
												<div
													class="container__header-actions d-flex align-items-center"
												>
													<div
														class="container__move-btn btn__back-slide-albumlist me-2"
													>
														<svg
															xmlns="http://www.w3.org/2000/svg"
															width="20"
															height="20"
															fill="currentColor"
															class="bi bi-chevron-left"
															viewBox="0 0 16 16"
														>
															<path
																fill-rule="evenodd"
																d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
															/>
														</svg>
													</div>
													<div
														class="container__move-btn btn__next-slide-albumlist ms-2"
													>
														<svg
															xmlns="http://www.w3.org/2000/svg"
															width="20"
															height="20"
															fill="currentColor"
															class="bi bi-chevron-right"
															viewBox="0 0 16 16"
														>
															<path
																fill-rule="evenodd"
																d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
															/>
														</svg>
													</div>
												</div>
											</div>

											<div class="home__albumlist-container mt-5">
												<div class="swiper albumSwiper">
													<div class="swiper-wrapper">
														<div class="swiper-slide flex-column">
															<div class="home__slider-item">
																<div class="home__slider-img">
																	<div
																		class="home__slider-img-overlay position-absolute justify-content-center align-items-center"
																		style="z-index: 100"
																	>
																		<div
																			class="home__slider-img-btn-icon sub__icon me-3"
																		>
																			<svg
																				class="slider__option-heart-icon"
																				xmlns="http://www.w3.org/2000/svg"
																				width="20"
																				height="20"
																				fill="currentColor"
																				class="bi bi-heart-fill"
																				viewBox="0 0 16 16"
																			>
																				<path
																					fill-rule="evenodd"
																					d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
																				/>
																			</svg>
																		</div>
																		<div
																			class="home__slider-img-btn-icon ms-4 me-4"
																		>
																			<svg
																				xmlns="http://www.w3.org/2000/svg"
																				width="50"
																				height="50"
																				fill="currentColor"
																				class="bi bi-play-circle"
																				viewBox="0 0 16 16"
																			>
																				<path
																					d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
																				/>
																				<path
																					d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"
																				/>
																			</svg>
																		</div>
																		<div
																			class="home__slider-img-btn-icon sub__icon ms-3"
																		>
																			<svg
																				class="slider__option-three-dot-icon"
																				xmlns="http://www.w3.org/2000/svg"
																				width="20"
																				height="20"
																				fill="currentColor"
																				class="bi bi-three-dots"
																				viewBox="0 0 16 16"
																			>
																				<path
																					d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
																				/>
																			</svg>
																		</div>
																	</div>
																	<div
																		class="slider__img"
																		style="
																			background: url('../../public/img/albums/album1.jpg')
																				no-repeat center center / cover;
																		"
																	></div>
																</div>
																<div class="home__slider-info mt-4">
																	<h3 class="home__slider-name mb-2">
																		V-Pop: The A-List
																	</h3>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<!-- Singer list -->
									<div class="content__home-singerlist mt-5">
										<div class="home__singerlist">
											<div
												class="home__singerlist-header d-flex justify-content-between"
											>
												<div
													href="#"
													class="home__slider-title d-flex align-items-center"
												>
													<h1 class="me-2">Singer</h1>
													<svg
														xmlns="http://www.w3.org/2000/svg"
														width="20"
														height="20"
														fill="currentColor"
														class="bi bi-chevron-right"
														viewBox="0 0 16 16"
													>
														<path
															fill-rule="evenodd"
															d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
														/>
													</svg>
												</div>
												<div
													class="container__header-actions d-flex align-items-center"
												>
													<div
														class="container__move-btn btn__back-slide-singerlist me-2"
													>
														<svg
															xmlns="http://www.w3.org/2000/svg"
															width="20"
															height="20"
															fill="currentColor"
															class="bi bi-chevron-left"
															viewBox="0 0 16 16"
														>
															<path
																fill-rule="evenodd"
																d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
															/>
														</svg>
													</div>
													<div
														class="container__move-btn btn__next-slide-singerlist ms-2"
													>
														<svg
															xmlns="http://www.w3.org/2000/svg"
															width="20"
															height="20"
															fill="currentColor"
															class="bi bi-chevron-right"
															viewBox="0 0 16 16"
														>
															<path
																fill-rule="evenodd"
																d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
															/>
														</svg>
													</div>
												</div>
											</div>

											<div class="home__singerlist-container mt-5">
												<div
													class="swiper singerSwiper"
													style="overflow: initial"
												>
													<div class="swiper-wrapper">
														<div class="swiper-slide flex-column">
															<div class="home__slider-item">
																<div class="home__slider-img">
																	<div
																		class="radius__img"
																		style="
																			background: url('../../public/img/singer/artist1.jpg')
																				no-repeat center center / cover;
																		"
																	></div>
																</div>
																<div
																	class="home__slider-info mt-3 text-center d-flex flex-column align-items-center"
																>
																	<h3 class="home__slider-name singer mb-1">
																		Binz
																	</h3>
																	<span
																		class="home__slider-subname"
																		style="cursor: context-menu"
																		>345k Quan tâm</span
																	>
																	<button class="button-follow mt-2">
																		<svg
																			xmlns="http://www.w3.org/2000/svg"
																			width="25"
																			height="25"
																			fill="currentColor"
																			class="bi bi-check"
																			viewBox="0 0 16 16"
																			style="font-weight: 700"
																		>
																			<path
																				d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"
																			/>
																		</svg>
																		Đã quan tâm
																	</button>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="app__container-zingchart" style="display: none"></div>
						<div></div>
					</div>
				</div>

				<!-- player song -->
				<div
					class="player__music d-flex"
					style="
						background-image: url(../../public/img/themeBgs/playerThemes/theme1.png);
                        color: white;
					"
				>
                    <div class="player__music-left">
                        <img src="../../public/img/albums/album1.jpg" alt="">
                        <div class="player__music-info">
                            
                        </div>
                    </div>

                    <div class="player__music-middle">
                        <div class="control">
                            <div class="btn btn-repeat">
                                <i class="fas fa-redo"></i>
                            </div>
                            <div class="btn btn-prev">
                                <i class="fas fa-step-backward"></i>
                            </div>
                            <div class="btn btn-toggle-play">
                                <i class="fas fa-pause icon-pause"></i>
                                <i class="fas fa-play icon-play"></i>
                            </div>
                            <div class="btn btn-next">
                                <i class="fas fa-step-forward"></i>
                            </div>
                            <div class="btn btn-random">
                                <i class="fas fa-random"></i>
                            </div>
                        </div>
    
                        <input
                            id="progress"
                            class="progress"
                            type="range"
                            value="0"
                            step="1"
                            min="0"
                            max="100"
                        />
    
                        <audio id="audio" src=""></audio>
                    </div>
					
                    <div class="player__music-right">
                        
                    </div>
	
			</div>
		</div>

		<script
			src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
			integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
			integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
			crossorigin="anonymous"
		></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script
			src="https://kit.fontawesome.com/87b31eb80c.js"
			crossorigin="anonymous"
		></script>
		<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
		<script>
			const playListSlider = new Swiper(".playListSwiper", {
				slidesPerView: 5,
				spaceBetween: 30,
				slidesPerGroup: 1,
				loop: false,
				loopFillGroupWithBlank: true,
				grabCursor: true,
				keyboard: {
					enabled: true,
				},
				pagination: {
					el: ".swiper-pagination",
					clickable: true,
				},
				navigation: {
					nextEl: ".btn__next-slide-playList",
					prevEl: ".btn__back-slide-playList",
				},
			});

			const alBumSwiper = new Swiper(".albumSwiper", {
				slidesPerView: 5,
				spaceBetween: 30,
				slidesPerGroup: 1,
				loop: false,
				loopFillGroupWithBlank: true,
				grabCursor: true,
				keyboard: {
					enabled: true,
				},
				pagination: {
					el: ".swiper-pagination",
					clickable: true,
				},
				navigation: {
					nextEl: ".btn__next-slide-albumlist",
					prevEl: ".btn__back-slide-albumlist",
				},
			});

			const singerSwiper = new Swiper(".singerSwiper", {
				slidesPerView: 5,
				spaceBetween: 30,
				slidesPerGroup: 1,
				loop: false,
				loopFillGroupWithBlank: true,
				grabCursor: true,
				keyboard: {
					enabled: true,
				},
				pagination: {
					el: ".swiper-pagination",
					clickable: true,
				},
				navigation: {
					nextEl: ".btn__next-slide-singerlist",
					prevEl: ".btn__back-slide-singerlist",
				},
			});
		</script>
		<script src="../js/home.js"></script>
		<script src="../js/main.js"></script>
	</body>
</html>
