.player__music{
    height:$player-height;
    position:fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 400;
    background-position: 50%;
    background-repeat: repeat-x;
    background-size: 1920px auto;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background-color: red;
}